<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Periodic Table of the Elements</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script>
function showResult(str) {
  if (str.length==0) {
    document.getElementById("livesearch").innerHTML="";
    document.getElementById("livesearch").style.border="0px";
    return;
  }
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("livesearch").innerHTML=this.responseText;
      document.getElementById("livesearch").style.border="1px solid #A5ACB2";
    }
  }
  xmlhttp.open("GET","https://expoodisha.com/Software/spellchecker/livesearch.php?q="+str,true);
  xmlhttp.send();
}
</script>


<link rel="stylesheet" href="../../spellchecker/content/bootstrapc.css">
<link rel="stylesheet" href="../../spellchecker/content/stylec.css">



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mshadow py-0 mb-4">
<div class="container">
	<img loading="lazy" src="https://font-exchange.github.io/spellchecker/logo/spell_logo.png" alt="" title="" width="267" height="50"></a>">
	<img loading="lazy" src="https://font-exchange.github.io/spellchecker/Odia%20Spell%20Checker_files/spell_logo.png" alt="" title="" width="267" height="50"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item pr-2">
			<a class="nav-link text-dark" href="https://font-exchange.github.io/spellchecker/"><i class="fas fa-home"></i> 
			Home <span class="sr-only">(current)</span></a></li>
			<li class="nav-item pr-2">
			<a class="nav-link text-primary" href="https://font-exchange.github.io/spellchecker/dynamic.htm">
			Dynamic Spell</a></li>
			<li class="nav-item pr-2">
			<a class="nav-link text-primary" href="https://font-exchange.github.io/Odia-Unicode/components/components.htm">
			Components</a></li>
			<li class="nav-item dropdown pr-2">
				<a class="nav-link text-primary" href="https://font-exchange.github.io/spellchecker/content/contact.htm"><i class="fas fa-envelope"></i> 
				Contact</a></li>
			<li class="nav-item pr-2">
			<a class="nav-link text-primary" href="https://font-exchange.github.io/spellchecker/content/help.htm">Help</a></li>
			<li class="nav-item pr-2">
			<a class="nav-link text-primary">
			Search&gt;&gt;</a></li>
		</ul>
		<form class="form-inline my-4 my-lg-0" role="search" name="search" id="search" method="get" action="/search/">
			<div class="input-group">
				<input type="text" class="form-control" onkeyup="showResult(this.value)" name="T49" size="20">  
			<div id="livesearch"></div>
				
				<div class="input-group-append">&nbsp;</div>
			</div>
		</form>
	</div>
</div>
</nav>

<div class="container" style="height: auto !important;">
	<div class="row" style="height: auto !important;">
		<div class="col-sm-8">
			<h1><font size="4" color="#6699FF">Periodic Table of the Elements :</font></h1>
<div class="card mb-4">
	<style>
	

	a:link       { color: #0000FF; text-decoration: none }
	a:visited    { color: #0000FF; text-decoration: none }
	a:hover      { color: #FF0000; text-decoration: none }
	a:active     { color: #FF0000; text-decoration: none }

	a:link.msg 		{ color: #7DA1CD; text-decoration: none }
	a:visited.msg { color: #7DA1CD; text-decoration: none }
	a:hover.msg   { color: #0000FF; text-decoration: none }
	a:active.msg  { color: #0000FF; text-decoration: none }

</style>

<script type=text/javascript>

var aLocation = new Array(
	Array("-12:00", "International Date Line West", "日界线西"),
	Array("-11:00", "Midway Island, Samoa", "中途岛, 萨摩亚群岛"),
	Array("-10:00", "Hawaii", "夏威夷"),
	Array("-09:00", "Alaska", "阿拉斯加州"),
	Array("-08:00", "Pacific Time (US &amp; Canada), Tijuana", "太平洋时间 (美国 &amp;加拿大), 蒂华纳"),
	Array("-07:00", "Mountain Time (US &amp; Canada)", "山地时间 (美国 &amp;加拿大)"),
	Array("-07:00", "Arizona", "亚历桑那州"),
	Array("-07:00", "Chihuahua, La Paz, Mazatlan", "奇瓦瓦, 拉巴斯, 马萨特兰"),
	Array("-06:00", "Saskatchewan", "萨斯喀彻温"),
	Array("-06:00", "Central Time (US &amp; Canada)", "中部时间 (美国 &amp;加拿大)"),
	Array("-06:00", "Central America", "中美洲"),
	Array("-06:00", "Guadalajara, Mexico, Monterrey", "瓜达拉哈拉, 墨西哥, 蒙特雷"),
	Array("-05:00", "Bogota, Lima, Quito", "波哥大, 利马, 基多"),
	Array("-05:00", "Eastern Time (US &amp; Canada)", "东部时间 (美国 &amp;加拿大)"),
	Array("-05:00", "Indiana (East)", "印地安那州 (东部)"),
	Array("-04:00", "Atlantic Time (Canada)", "大西洋时间 (加拿大)"),
	Array("-04:00", "Caracas, La Paz", "加拉加斯, 拉巴斯"),
	Array("-04:00", "Santiago", "圣地牙哥"),
	Array("-03:30", "Newfoundland", "纽芬兰"),
	Array("-03:00", "Brasilia", "巴西利亚"),
	Array("-03:00", "Buenos Aires, Georgetown", "布宜诺斯艾利斯, 乔治敦"),
	Array("-03:00", "Greenland", "格陵兰"),
	Array("-02:00", "Mid-Atlantic", "中大西洋"),
	Array("-01:00", "Cape Verde Is.", "佛得角群岛"),
	Array("-01:00", "Azores", "亚速尔群岛"),
	Array("+00:00", "Greenwich Mean Time: Dublin, Edinburgh, London, Lisbon", "格林威治标准时间: 都柏林, 爱丁堡, 伦敦, 里斯本"),
	Array("+00:00", "Casablanca, Monrovia", "卡萨布兰卡, 蒙罗维亚"),
	Array("+01:00", "Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna", "阿姆斯特丹, 柏林, 伯尔尼, 罗马, 斯德哥尔摩, 维也纳"),
	Array("+01:00", "Belgrade, Bratislava, Budapest, Ljubljana, Prague", "贝尔格莱德, 布拉迪斯拉瓦, 布达佩斯, 卢布尔雅那, 布拉格"),
	Array("+01:00", "Brussels, Copenhagen, Madrid, Paris", "布鲁塞尔, 哥本哈根, 马德里, 巴黎"),
	Array("+01:00", "Sarajevo, Skopje, Warsaw, Zagreb", "萨拉热窝, 斯科普里, 华沙, 萨格勒布"),
	Array("+01:00", "West Central Africa", "中非西部"),
	Array("+02:00", "Bucharest", "布加勒斯特"),
	Array("+02:00", "Harare, Pretoria", "哈拉雷, 比勒陀利亚"),
	Array("+02:00", "Helsinki, Kyev, Riga, Sofia, Tallinn, Vilnius", "赫尔辛基，基辅，里加，索非亚，塔林，维尔纽斯"),
	Array("+02:00", "Cairo", "开罗"),
	Array("+02:00", "Athens, Beirut, Istanbul, Minsk", "雅典，贝鲁特，伊斯坦布尔，明斯克"),
	Array("+02:00", "Jerusalem", "耶路撒冷"),
	Array("+03:00", "Baghdad", "巴格达"),
	Array("+03:00", "Kuwait, Riyadh", "科威特, 利雅得"),
	Array("+03:00", "Moscow, St. Petersburg, Volgograd", "莫斯科, 圣彼得斯堡, 伏尔加格勒"),
	Array("+03:00", "Nairobi", "内罗毕"),
	Array("+03:30", "Tehran", "德黑兰"),
	Array("+04:00", "Abu Dhabi, Muscat", "阿布扎比, 马斯喀特"),
	Array("+04:00", "Baku, Tbilisi, Yerevan", "巴库, 第比利斯, 埃里温"),
	Array("+04:30", "Kabul", "喀布尔"),
	Array("+05:00", "Ekaterinburg", "叶卡捷琳堡"),
	Array("+05:00", "Islamabad, Karachi, Tashkent", "伊斯兰堡, 卡拉奇, 塔什干"),
	Array("+05:30", "Madras, Kolkata, Mumbai, Delhi", "马德拉斯，加尔各答，孟买，新德里"),
	Array("+05:45", "Kathmandu", "加德满都"),
	Array("+06:00", "Almaty, Novosibirsk", "阿拉木图, 新西伯利亚"),
	Array("+06:00", "Astana, Dhaka", "阿斯塔那, 达卡"),
	Array("+06:00", "Sri Jayawardenepura", "斯里哈亚华登尼普拉"),
	Array("+06:30", "Rangoon", "仰光"),
	Array("+07:00", "Krasnoyarsk", "克拉斯诺亚尔斯克"),
	Array("+07:00", "Bangkok, Hanoi, Jakarta", "曼谷, 河内, 雅加达"),
	Array("+08:00", "Beijing, Chongqing, Hong Kong, Urumqi", "北京, 重庆, 香港, 乌鲁木齐"),
	Array("+08:00", "Kuala Lumpur, Singapore", "吉隆坡, 新加坡"),
	Array("+08:00", "Perth", "珀斯"),
	Array("+08:00", "Taipei", "台北"),
	Array("+08:00", "Irkutsk, Ulaan Bataar", "伊尔库茨克, 乌兰巴托"),
	Array("+09:00", "Osaka, Sapporo, Tokyo", "大阪, 扎幌, 东京"),
	Array("+09:00", "Seoul", "汉城"),
	Array("+09:00", "Yakutsk", "雅库茨克"),
	Array("+09:30", "Adelaide", "阿德莱得"),
	Array("+09:30", "Darwin", "达尔文"),
	Array("+10:00", "Brisbane", "布里斯班"),
	Array("+10:00", "Vladivostok", "符拉迪沃斯托克"),
	Array("+10:00", "Guam, Port Moresby", "关岛, 莫尔兹比港口"),
	Array("+10:00", "Hobart", "霍巴特"),
	Array("+10:00", "Canberra, Melbourne, Sydney", "堪培拉, 墨尔本, 悉尼"),
	Array("+11:00", "Magadan, Solomon Is., Caledonia", "马加丹, 所罗门群岛, 新喀里多尼亚"),
	Array("+12:00", "Auckland, Wellington", "奥克兰, 惠灵顿"),
	Array("+12:00", "Fiji, Kamchatka, Marshall Is.", "斐济, 勘察加半岛, 马绍尔群岛"),
	Array("+13:00", "Nuku'alofa", "努库阿洛法")
);

var cStyle = "i";	// i=国际, g=英国, u=美国

var aMonthNameS = new Array("", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
var aWeekDay = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");

function toTimeString(dTime)
{
	var year = dTime.getFullYear();
	var mon = dTime.getMonth() + 1;
	var day = dTime.getDate();
	var hour = dTime.getHours();
	var min = dTime.getMinutes();
	var sec = dTime.getSeconds();
	
	if(cStyle == "g")
	{
		var ampm = "am";
		if(hour >= 12)
		{
			ampm = "pm";
			hour = hour - 12;
		}

		if(min < 10)
			min = "0" + min;

		if(sec < 10)
			sec = "0" + sec;
		
		var wday = dTime.getDay();
		
		return aWeekDay[wday] + ", " + day + " " + aMonthNameS[mon] + " " + year + " &nbsp;" + hour + ":" + min + ":" + sec + " " + ampm;
	}
	else if(cStyle == "u")
	{
		var ampm = "am";
		if(hour >= 12)
		{
			ampm = "pm";
			hour = hour - 12;
		}

		if(min < 10)
			min = "0" + min;

		if(sec < 10)
			sec = "0" + sec;
		
		var wday = dTime.getDay();
		
		return aWeekDay[wday] + ", " + aMonthNameS[mon] + " " + day + ", " + year + " &nbsp;" + hour + ":" + min + ":" + sec + " " + ampm;
	}
	else
	{
		if(mon < 10)
			mon = "0" + mon;
		
		if(day < 10)
			day = "0" + day;

		if(hour < 10)
			hour = "0" + hour;

		if(min < 10)
			min = "0" + min;
	
		if(sec < 10)
			sec = "0" + sec;

		return year + "-" + mon + "-" + day + " " + hour + ":" + min + ":" + sec;
	}
}


// function to calculate local time
// in a different city
// given the city's UTC offset
function calcTimeZone(dTime, nTZOffset)
{
  // create Date object for current location
  d = new Date();
	
	// 本地时间与UTC时差(毫秒)
	tz = d.getTimezoneOffset() * 60000;
	
	// 将指定本地时间转换成UTC时间(毫秒)
	utc = dTime.getTime() + tz;
	
	// 根据时区偏移(分钟), 计算该时区对应的时间
	dNew = new Date(utc + nTZOffset * 60000);
	
	return dNew;
}


function calcAll()
{
	var year = document.getElementById("year_" + cStyle).value;
	var mon = document.getElementById("month_" + cStyle).value - 1;
	var day = document.getElementById("day_" + cStyle).value;
	var h = document.getElementById("hour_" + cStyle).value;
	var m = document.getElementById("min_" + cStyle).value;
	var s = document.getElementById("sec_" + cStyle).value;
	var d = new Date(year, mon, day, h, m, s);
	if(isNaN(d))
		return;

	// 重设时间输入为校正后的时间
	resetTime(d);
	
	var re = /([+-]?)(\d+):(\d+)/;
	var sOut = "<div style='margin: 5 5 5 5; color:#0000A0; font-weight:bold'>" + toTimeString(d) + "</div>";
	document.getElementById("srctime").innerHTML = sOut;

	// 计算时区
	sOut = "<table border='0' width='100%' cellspacing='0' cellpadding='5' style='border: 1 solid #C7D4DC; background-color:#FFFFFF'>";
	for(i=0; i<aLocation.length; i++)
	{
		var aTZ = re.exec(aLocation[i][0]);
		var tz = parseInt(aTZ[2], 10) * 60 + parseInt(aTZ[3], 10);
		if(aTZ[1] == "-")
			tz *= -1;
		
		var nd = calcTimeZone(d, tz);
		sOut += "<tr><td width='100%' style='border-bottom:1 solid #e0e0e; color:#07519A'>(" + aLocation[i][0] + ") " + aLocation[i][1] + "</td><td nowrap style='border-bottom:1 solid #e0e0e' width='' align='right'>" + toTimeString(nd, 0) + "</td></tr>";
	}
	
	sOut += "</table>";
	
	document.getElementById("list").innerHTML = sOut;
}

function resetTime(dTime)
{
	document.getElementById("year_i").value = dTime.getFullYear();
	document.getElementById("month_i").value = dTime.getMonth() + 1;
	document.getElementById("day_i").value = dTime.getDate();
	document.getElementById("hour_i").value = dTime.getHours();
	document.getElementById("min_i").value = dTime.getMinutes();
	document.getElementById("sec_i").value = dTime.getSeconds();
	
	document.getElementById("year_g").value = dTime.getFullYear();
	document.getElementById("month_g").value = dTime.getMonth() + 1;
	document.getElementById("day_g").value = dTime.getDate();
	document.getElementById("hour_g").value = dTime.getHours();
	document.getElementById("min_g").value = dTime.getMinutes();
	document.getElementById("sec_g").value = dTime.getSeconds();
	
	document.getElementById("year_u").value = dTime.getFullYear();
	document.getElementById("month_u").value = dTime.getMonth() + 1;
	document.getElementById("day_u").value = dTime.getDate();
	document.getElementById("hour_u").value = dTime.getHours();
	document.getElementById("min_u").value = dTime.getMinutes();
	document.getElementById("sec_u").value = dTime.getSeconds();
}

function calcNow()
{
	var d = new Date();
	resetTime(d);
	calcAll();
}

function swapStyle(style)
{
	// 同步所有输入面板
	var year = document.getElementById("year_" + cStyle).value;
	var mon = document.getElementById("month_" + cStyle).value - 1;
	var day = document.getElementById("day_" + cStyle).value;
	var h = document.getElementById("hour_" + cStyle).value;
	var m = document.getElementById("min_" + cStyle).value;
	var s = document.getElementById("sec_" + cStyle).value;
	var d = new Date(year, mon, day, h, m, s);
	if(isNaN(d))
		return;
	
	resetTime(d);	// 重设时间输入为校正后的时间

	// 切换输入面板
	if(style == 'g')
	{
		document.getElementById("tab_i").style.display = "none";
		document.getElementById("tab_u").style.display = "none";
		document.getElementById("tab_g").style.display = "";
	}
	else if(style == 'u')
	{
		document.getElementById("tab_i").style.display = "none";
		document.getElementById("tab_g").style.display = "none";
		document.getElementById("tab_u").style.display = "";
	}
	else
	{
		document.getElementById("tab_u").style.display = "none";
		document.getElementById("tab_g").style.display = "none";
		document.getElementById("tab_i").style.display = "";
	}
	
	// 重新计算
	cStyle = style;
	calcAll();
}

</script>
</head>

<BODY bgcolor="#EAF0F8" topmargin="10" leftmargin="10" rightmargin="10" bottommargin="10">
<div align="right" style="font-size: 8pt; line-height:normal; margin-bottom: 2">
	&nbsp;</div>
<script language="JavaScript" type="text/javascript" src="../var.js"></script>
<script language="JavaScript" type="text/javascript">
	document.writeln("<STYLE type='text/css'>");
	document.writeln("div, table, td { font-family: " + g_TextFont + "; font-size: " + g_TextFontSize + "pt }");
	document.writeln(".caption { font-weight: bold; font-size: " + g_TextFontSizeXXL + "pt }");
	document.writeln("</STYLE>");
</script>
<style type="text/css" media="screen">
	* { font-family: Arial; font-size:9pt }
	div { padding: 5 10 }
	td { vertical-align: top }
	a, td { color: #000080 }
	input { border: 1px solid #e0e0e0; background-color: #FFFEF2 }
	
	.solid { background-color: #EAE8E8 }
	.manmade { background-color: #C0C2CA }
	.gas { background-color: #FFFFCC }
	.liquid { background-color: #66FFFF }
	.title { font-weight: bold }
</style>
</head>

<BODY bgcolor="#EAF0F8" topmargin="10" leftmargin="10" rightmargin="10" bottommargin="10">
<script language="JavaScript">
<!-- http://www.webjx.com/js -->
	function moveover(txt)
	{
		window.status = txt;
	}

	function fillitin(Name, AtomicNumber,AtomicWeight, Shells, FillingOrbital, MeltingPoint, BoilingPoint)
	{
		moveover(Name);
		document.PeriodicTable.Name.value=Name;
		document.PeriodicTable.AtomicNumber.value=AtomicNumber;
		document.PeriodicTable.AtomicWeight.value=AtomicWeight;
		document.PeriodicTable.Shells.value=Shells;
		document.PeriodicTable.FillingOrbital.value=FillingOrbital;
		document.PeriodicTable.MeltingPoint.value=MeltingPoint;
		document.PeriodicTable.BoilingPoint.value=BoilingPoint;
	}
//-->
</script>

<div dir="ltr" style="padding:0; width:100%">
<table border="0" align="center">
	<form method="Post" name="PeriodicTable">
  <tr>
    <td align="center">
	<table border="1" cellspacing="0" cellpadding="3" style="border-collapse: collapse; width:624px" bordercolor="#006699" bgcolor="#FFFFFF">
		<tr align="center">
			<td class="gas" style="cursor:hand" onclick="javascript: fillitin('Hydrogen','1','1.0079','1','1s1','-259.14 C','-252.87 C');">H</td>
			<td colspan="16"><b>Periodic Table of the Elements</b></td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Helium','2','4.0026','2','1s2','-272C @ 26ATM','-268.6 C');">He</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Lithium','3','6.94','2,1','2s1','180.54 C','1347 C');">Li</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Beryllium','4','9.01218','2,2','2s2','1278 C','2970 C');">Be</td>
			<td colspan="10" rowspan="2">
				<div align="center" style="width:100%">
				<table border="0" width="100%" cellspacing="3">
					<tr align="center">
						<td>
							<table border="1" width="100%" cellspacing="0" cellpadding="2" bordercolor="#006699" style="border-collapse: collapse">
								<tr align="center">
									<td colspan="5" class="solid" width="25%" style="font-size:8pt">Solids</td>
								</tr>
							</table>
						</td>
						<td>
							<table border="1" width="100%" cellspacing="0" cellpadding="2" bordercolor="#006699" style="border-collapse: collapse">
								<tr align="center">
									<td colspan="5" class="liquid" width="25%" style="font-size:8pt; background-color:#FF00FF">
									<font color="#FFFFFF">Liquids</font></td>
								</tr>
							</table>
						</td>
						<td>
							<table border="1" width="100%" cellspacing="0" cellpadding="2" bordercolor="#006699" style="border-collapse: collapse">
								<tr align="center">
									<td colspan="5" class="gas" width="25%" style="font-size:8pt">Gases</td>
								</tr>
							</table>
						</td>
						<td>
							<table border="1" width="100%" cellspacing="0" cellpadding="2" bordercolor="#006699" style="border-collapse: collapse">
								<tr align="center">
									<td colspan="5" class="manmade" width="25%" style="font-size:8pt">Man Made Elements</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				</div>
			</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Boron','5','10.81','2,3','2p1','2300 C','2550 C');">B</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Carbon','6','12.011','2,4','2p2','3500 C','4827 C');">C</td>
			<td class="gas" style="cursor:hand" onclick="javascript: fillitin('Nitrogen','7','14.0067','2,5','2p3','-209.9 C','-195.8 C');">N</td>
			<td class="gas" style="cursor:hand" onclick="javascript: fillitin('Oxygen','8','15.9994','2,6','2p4','-218.4 C','-183.0 C');">O</td>
			<td class="gas" style="cursor:hand" onclick="javascript: fillitin('Flourine','9','18.998403','2,7','2p5','-219.62 C','-188.14 C');">F</td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Neon','10','20.17','2,8',' 2p6','-248.6 C','-246.1 C');">Ne</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Sodium','11','22.98977','2,8,1',' 3s1','97.8 C','882.9 C');">Na</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Magnesium','12','24.305','2,8,2',' 3s2','638.8 C','1090 C');">Mg</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Aluminum','13','26.98154','2,8,3',' 3p1','660.37 C','2467 C');">Al</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Silicon','14','28.0855','2,8,4',' 3p2','1410 C','2355 C');">Si</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Phosphorous','15','30.97376','2,8,5',' 3p3','44.1 C','280 C');">P</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Sulfur','16','32.06','2,8,6',' 3p4','112.8 C','444.6 C');">S</td>
			<td class="gas" style="cursor:hand" onclick="javascript: fillitin('Chlorine','17','35.453','2,8,7',' 3p5','-100.98 C','-34.6 C');">Cl</td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Argon','18','39.948','2,8,8',' 3p6','-189.3 C','-186 C');">Ar</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Potassium','19','39.0983','2,8,8,1',' 4s1','63.65 C','774 C');">K</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Calcium','20','40.08','2,8,8,2',' 4s2','839 C','1484.4 C');">Ca</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Scandium','21','44.9559','2,8,9,2',' 3d1','1539 C','2832 C');">Sc</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Titanium','22','47.90','2,8,10,2',' 3d2','1660 C','3287 C');">Ti</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Vanadium','23','50.9415','2,8,11,2',' 3d3','1890±10 C','3380 C');">V</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Chromium','24','51.996','2,8,13,1',' 3d5','1857 C','2672 C');">Cr</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Manganese','25','54.9380','2,8,13,2',' 3d5','1245 C','1962 C');">Mn</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Iron','26','55.847','2,8,14,2',' 3d6','1535 C','2750 C');">Fe</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Cobalt','27','58.9332','2,8,15,2',' 3d7','1495 C','2870 C');">Co</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Nickel','28','58.71','2,8,16,2',' 3d8','1453 C','2732 C');">Ni</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Copper','29','63.546','2,8,18,1',' 3d10','1083 C','2567 C');">Cu</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Zinc','30','65.38','2,8,18,2',' 3d10','419.58 C','907 C');">Zn</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Gallium','31','69.735','2,8,18,3',' 4p1','29.78 C','2403 C');">Ga</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Germanium','32','72.59','2,8,18,4',' 4p2','937.4 C','2830 C');">Ge</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Arsenic','33','74.9216','2,8,18,5',' 4p3','81 C @ 28ATM','Sublimes at 613')">As</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Selenium','34','78.96','2,8,18,6',' 4p4','217 C','684.9 C');">Se</td>
			<td class="liquid" style="cursor:hand" onclick="javascript: fillitin('Bromine','35','79.904','2,8,18,7',' 4p5','-7.2 C','58.78 C');">Br</td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Krypton','36','83.80','2,8,18,8',' 4p6','-157.2 C','-153.4 C');">Kr</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Rubidium','37','85.467','2,8,18,8,1',' 5s1','38.89 C','688 C');">Rb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Strontium','38','87.62','2,8,18,8,2',' 5s2','769 C','1384 C');">Sr</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Yttrium','39','88.9059','2,8,18,9,2',' 4d1','1523 C','3337 C');">Y</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Zirconium','40','91.22','2,8,18,10,2',' 4d2','1852±2 C','4377 C');">Zr</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Niobium','41','92.9064','2,8,18,13,1',' 4d4','2468±10 C','4927 C');">Nb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Molybdenum','42','95.94','2,8,18,13,1',' 4d5','2617 C','4612 C');">Mo</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Technetium','43','98.9062','2,8,18,14,1',' 4d6','2200±50 C','4877 C');">Tc</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Ruthenium','44','101.07','2,8,18,15,1',' 4d7','2250 C','3900 C');">Ru</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Rhodium','45','102.9055','2,8,18,16,1',' 4d8','1966±3 C','3727 C');">Rh</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Palladium','46','106.4','2,8,18,18',' 4d10','1552 C','2927 C');">Pd</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Silver','47','107.868','2,8,18,18,1',' 4d10','961.93 C','2212 C');">Ag</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Cadmium','48','112.41','2,8,18,18,2',' 4d10','320.9 C','765 C');">Cd</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Indium','49','114.82','2,8,18,18,3',' 5p1','156.61 C','2000±10 C');">In</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Tin','50','118.69','2,8,18,18,4',' 5p2','231.9 C','2270 C');">Sn</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Antimony','51','121.75','2,8,18,18,5',' 5p3','630 C','1750 C');">Sb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Tellurium','52','127.60','2,8,18,18,6',' 5p4','449.5 C','989.8 C');">Te</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Iodine','53','126.9045','2,8,18,18,7',' 5p5','113.5 C','184 C @ 35 atm')">I</td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Xenon','54','131.30','2,8,18,18,8',' 5p6','-111.9 C','-108.1 C');">Xe</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Cesium','55','132.9054','2,8,18,18,8,1',' 6s1','28.5 C','678.4 C');">Cs</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Barium','56','137.33','2,8,18,18,8,2',' 6s2','725 C','1140 C');">Ba</td>
			<td class="solid"><font color="#000000">La-Lu</font></td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Hafnium','72','178.49','2,8,18,32,10,2',' 5d2','2150 C','5400 C');">Hf</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Tantalum','73','180.947','2,8,18,32,11,2',' 5d3','2996 C','5425±100 C');">Ta</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Tungsten','74','183.85','2,8,18,32,12,2',' 5d4','3410±20 C','5660 C');">W</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Rhenium','75','186.207','2,8,18,32,13,2',' 5d5','3180 C','5627 C');">Re</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Osmium','76','190.2','2,8,18,32,14,2',' 5d6','3045 C','5027 C');">Os</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Iridium','77','192.22','2,8,18,32,15,2',' 5d7','2410 C','4527±100 C');">Ir</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Platinum','78','195.09','2,8,18,32,17,1',' 5d9','1772 C','3827 C');">Pt</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Gold','79','196.9665','2,8,18,32,18,1',' 5d10','1064.43 C','2807 C');">Au</td>
			<td class="liquid" style="cursor:hand" onclick="javascript: fillitin('Mercury','80','200.59','2,8,18,32,18,2',' 5d10','-38.87 C','356.58 C');">Hg</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Thallium','81','204.37','2,8,18,32,18,3',' 6p1','303.5 C','1457±10 C');">Tl</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Lead','82','207.2','2,8,18,32,18,4',' 6p2','327.5 C','1740 C');">Pb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Bismuth','83','208.9804','2,8,18,32,18,5',' 6p3','271.3 C','1560±5 C');">Bi</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Polonium','84','(209)','2,8,18,32,18,6',' 6p4','254 C','962 C');">Po</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Astatine','85','(210)','2,8,18,32,18,7',' 6p5','302 C','337 C');">At</td>
			<td class="gas" style="cursor:hand; background-color:#00FF00" onclick="javascript: fillitin('Radon','86','(222)','2,8,18,32,18,8',' 6p6','-71 C','-61.8 C');">Rn</td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Francium','87','(223)','2,8,18,32,18,8,1',' 7s1','27 C','677 C');">Fr</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Radium','88','226.0254','2,8,18,32,18,8,2',' 7s2','700 C','1737 C');">Ra</td>
			<td class="solid"><font color="#000000">Ac-Lr</font></td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Rutherfordium','104','(260)','2,8,18,32,32,10,2',' 6d2','N/A C','N/A C');">Rf</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Dubnium','105','(260)','2,8,18,32,32,11,2',' 6d3','N/A C','N/A C');">Db</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Seaborgium','106','(263)','2,8,18,32,32,12,2',' 6d4','N/A C','N/A C');">Sg</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Bohriium','107','(262)','2,8,18,32,32,13,2',' 6d5','N/A C','N/A C');">Bh</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Hassium','108','(265)','2,8,18,32,32,14,2',' 6d6','N/A C','N/A C');">Hs</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Meitnerium','109','(266)','2,8,18,32,32,15,2',' 6d7','N/A C','N/A C');">Mt</td>
			<td class="manmade"><font color="#000000">Uun</font></td>
			<td class="manmade"><font color="#000000">Uuu</font></td>
			<td class="manmade"><font color="#000000">Uub</font></td>
			<td class="manmade"><font color="#000000">Uut</font></td>
			<td class="manmade"><font color="#000000">Uuq</font></td>
			<td class="manmade"><font color="#000000">Uup</font></td>
			<td class="manmade"><font color="#000000">Uuh</font></td>
			<td class="manmade"><font color="#000000">Uus</font></td>
			<td class="manmade"><font color="#000000">Uuo</font></td>
		</tr>
		<tr align="center">
			<td colspan="18" style="height:5"></td>
		</tr>
		<tr align="center">
			<td rowspan="2" colspan="2"></td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Lanthanum','57','138.9055','2,8,18,18,9,2',' 5d1','920 C','3469 C');">La</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Cerium','58','140.12','2,8,18,20,8,2',' 4f2','795 C','3257 C');">Ce</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Praseodymium','59','140.9077','2,8,18,21,8,2',' 4f3','935 C','3127 C');">Pr</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Neodymium','60','144.24','2,8,18,22,8,2',' 4f4','1010 C','3127 C');">Nd</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Promethium','61','(145)','2,8,18,23,8,2',' 4f5','N/A C','N/A C');">Pm</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Samarium','62','150.4','2,8,18,24,8,2',' 4f6','1072 C','1900 C');">Sm</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Europium','63','151.96','2,8,18,25,8,2',' 4f7','822 C','1597 C');">Eu</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Gadolinium','64','157.25','2,8,18,25,9,2',' 4f7','1311 C','3233 C');">Gd</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Terbium','65','158.9254','2,8,18,27,8,2',' 4f9','1360 C','3041 C');">Tb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Dysprosium','66','162.50','2,8,18,28,8,2',' 4f10','1412 C','2562 C');">Dy</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Holmium','67','164.9304','2,8,18,29,8,2',' 4f11','1470 C','2720 C');">Ho</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Erbium','68','167.26','2,8,18,30,8,2',' 4f12','1522 C','2510 C');">Er</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Thulium','69','168.9342','2,8,18,31,8,2',' 4f13','1545 C','1727 C');">Tm</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Ytterbium','70','173.04','2,8,18,32,8,2',' 4f14','824 C','1466 C');">Yb</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Lutetium','71','174.96','2,8,18,32,9,2',' 4f14','1656 C','3315 C');">Lu</td>
			<td rowspan="2"></td>
		</tr>
		<tr align="center">
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Actinium','89','(227)','2,8,18,32,18,9,2',' 6d1','1050 C','3200 C');">Ac</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Thorium','90','232.0381','2,8,18,32,18,10,2',' 6d2','1750 C','4790 C');">Th</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Proactinium','91','231.0359','2,8,18,32,20,9,2',' 5f2','1600 C','N/A C');">Pa</td>
			<td class="solid" style="cursor:hand" onclick="javascript: fillitin('Uranium','92','238.029','2,8,18,32,21,9,2',' 5f3','1132 C','3818 C');">U</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Neptunium','93','237.0482','2,8,18,32,23,8,2',' 5f4','640 C','3902 C');">Np</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Plutonium','94','(244)','2,8,18,32,24,8,2',' 5f6','639.5±2 C','3235±19 C');">Pu</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Americium','95','(243)','2,8,18,32,25,8,2',' 5f7','994 C','2607 C');">Am</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Curium','96','(247)','2,8,18,32,25,9,2',' 5f7','1340 C','N/A C');">Cm</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Berkelium','97','(247)','2,8,18,32,26,9,2',' 5f8','N/A C','N/A C');">Bk</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Californium','98','(251)','2,8,18,32,28,8,2',' 5f9','N/A C','N/A C');">Cf</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Einsteinium','99','(254)','2,8,18,32,29,8,2',' 5f11','N/A C','N/A C');">Es</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Fremium','100','(257)','2,8,18,32,30,8,2',' 5f12','N/A C','N/A C');">Fm</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Mendelevium','101','(258)','2,8,18,32,31,8,2',' 5f13','N/A C','N/A C');">Md</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Nobelium','102','(259)','2,8,18,32,32,8,2',' 5f14','N/A C','N/A C');">No</td>
			<td class="manmade" style="cursor:hand" onclick="javascript: fillitin('Lawrencium','103','(260)','2,8,18,32,32,9,2',' 5f14','N/A C','N/A C');">Lr</td>
		</tr>
	</table>
	<br>
	<table border="0" cellpadding="2" cellspacing="0" width="">
		<tr>
			<td width="50">Name:</td>
			<td width="83"><input type="text" size="15" name="Name"></td>
			<td width="20">&nbsp;</td>
			<td width="40">&nbsp;</td>
			<td width="83">&nbsp;</td>
			<td width="20">&nbsp;</td>
			<td width="75">&nbsp;</td>
			<td width="83">&nbsp;</td>
		</tr>
		<tr>
			<td width="50">Number:</td>
			<td width="83"><input type="text" size="15" name="AtomicNumber"></td>
			<td width="20">&nbsp;</td>
			<td width="40">Weight:</td>
			<td width="83"><input type="text" size="15" name="AtomicWeight"></td>
			<td width="20">&nbsp;</td>
			<td width="75">Shells:</td>
			<td width="83"><input type="text" size="15" name="Shells"></td>
		</tr>
		<tr>
			<td width="50">Orbital:</td>
			<td width="83"><input type="text" size="15" name="FillingOrbital"></td>
			<td width="20">&nbsp;</td>
			<td width="40">Melt:</td>
			<td width="83"><input type="text" size="15" name="MeltingPoint"></td>
			<td width="20">&nbsp;</td>
			<td width="75">Boil:</td>
			<td width="83"><input type="text" size="15" name="BoilingPoint"></td>
		</tr>
	</table>
		</td>
	</tr>
  <tr>
    <td align="center">
	------------------------------------------------------------------------------------------------------------------</td>
	</tr>
  	</form>
</table>
</div>
<div id="srctime"></div>
<div id="list"></div>
<div align="center" style="font-family:tahoma; font-size:8pt; line-height:normal; color:#666666">
	&nbsp;</div>				
				
<script type=text/javascript>
calcNow();
</script></div>
		</div>


</body>

		<div class="col-md-4" style="height: auto !important;">
<div class="mb-4">
	&nbsp;</div>
<div class="list-group mb-4">
	<b>
	<a class="list-group-item text-decoration-none list-group-item-primary">Font Converter</a></b><div class="card-body bg-light">
		<ul>
			<li>
			<a href="https://font-exchange.github.io/Odia-Unicode/">Akruti &gt; Unicode</a></li>
			<li>
			<a href="https://font-exchange.github.io/Odia-Unicode/Shreelipi.htm">Shreelipi &gt; Unicode</a></li>
			<li><a href="https://font-exchange.github.io/Odia-Unicode/Gist.htm">Gist &gt; Unicode</a></li>
			<li>shruti &gt; Unicode</li>
			<li>Aprant &gt; Unicode</li>
		</ul>
	</div>
	<p>&nbsp;<b><a class="list-group-item text-decoration-none list-group-item-success">Non-Unicode Converter</a></b></p>
	<div class="card-body bg-light">
		<ul>
			<li><a href="https://font-exchange.github.io/Odia-Unicode/unitoak/">Unicode &gt; Akruti</a></li>
		</ul>
	</div>
	</div>
<div class="card mb-4">
	<div class="card-header bg-warning"><i class="fas fa-envelope"></i> <b>Spell 
		Checker (Home)</b></div>
	<div class="card-body bg-light">
		<ul>
			<li><a href="https://font-exchange.github.io/spellchecker/">Odia</a></li>
			<li>
			<a href="https://font-exchange.github.io/spellchecker-hindi/">Hindi</a></li>
			<li>
			<a href="https://font-exchange.github.io/spellchecker/english_spellchecker.htm">
			English</a></li>
		</ul>
	</div>
</div>
<div class="card mb-4">
	<div class="card-header bg-warning" style="background-color: #C0C0C0 !important"><i class="fas fa-envelope"></i> <b>Spell 
		Checker (Add-on)</b></div>
	<div class="card-body bg-light">
		<p align="center"><span style="font-size: 13pt">Installing a dictionary
		<b>
		<a href="https://font-exchange.github.io/spellchecker/content/Spell_add-on_inner.htm">
		<font color="#FF0000">add-on</font></a></b> will add a new language 
		option to your spell-checker, which checks your spelling as you type.</span></p></div>
</div>
		</div>

  		<BODY bgcolor="#EAF0F8" topmargin="10" leftmargin="10" rightmargin="10" bottommargin="10">
	</div>
</div>
<div class="container">
	-<footer class="bg-light border-top p-3"><div class="row">
		<div class="col-sm-4 small pb-2">
			<p style="text-align: center">expoodisha.com 2023. All Rights Reserved.</div>
	</div>
</div>
</footer>


</body></html>
